
[Bb]in
[Bb]in/
[Dd]ebug/
[Oo]bj
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*

*.Cache
*.dbmdl
*.DotSettings
*.ilk
*.log
*.meta
*.obj
*.orig
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c

.builds

Logs
Logs/

AUTOPARK/AUTOPARK/[Bb]in
AUTOPARK/AUTOPARK/[Bb]in/
AUTOPARK/AUTOPARK/[Dd]ebug/
AUTOPARK/AUTOPARK/[Oo]bj
AUTOPARK/AUTOPARK/[Oo]bj/
AUTOPARK/AUTOPARK/[Rr]elease/
AUTOPARK/AUTOPARKDB/[Bb]in
AUTOPARK/AUTOPARKDB/[Bb]in/
AUTOPARK/AUTOPARKDB/[Dd]ebug/
AUTOPARK/AUTOPARKDB/[Oo]bj
AUTOPARK/AUTOPARKDB/[Oo]bj/
AUTOPARK/AUTOPARKDB/[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*

_ReSharper*
_UpgradeReport_Files/
AppPackages/
Backup*/
ClientBin
CodeGeneration.Log.xml
packages
publish
StyleCop.Cache
TestResults
TestResults
UpgradeLog*.XML
x64/
*.tss

*.references


AUTOPARK/AUTOPARK.suo
AUTOPARK/AUTOPARKDB/AUTOPARKDB.dbmdl
