
[Bb]in
[Bb]in/
[Dd]ebug/
[Oo]bj
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*


AUTOPARK/AUTOPARK/[Bb]in*
AUTOPARK/AUTOPARK/[Bb]in/*
AUTOPARK/AUTOPARK/[Dd]ebug/*
AUTOPARK/AUTOPARK/[Oo]bj*
AUTOPARK/AUTOPARK/[Oo]bj/*
AUTOPARK/AUTOPARK/[Rr]elease/*
AUTOPARK/AUTOPARKDB/[Bb]in*
AUTOPARK/AUTOPARKDB/[Bb]in/*
AUTOPARK/AUTOPARKDB/[Dd]ebug/*
AUTOPARK/AUTOPARKDB/[Oo]bj*
AUTOPARK/AUTOPARKDB/[Oo]bj/*
AUTOPARK/AUTOPARKDB/[Rr]elease/*

*.Cache
*.dbmdl
*.DotSettings
*.ilk
*.log
*.meta
*.obj
*.orig
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
.builds
Logs
Logs/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*
_ReSharper*
_UpgradeReport_Files/
AppPackages/
Backup*/
ClientBin
CodeGeneration.Log.xml
packages
publish
StyleCop.Cache
TestResults
TestResults
UpgradeLog*.XML
x64/
*.tss
*.references

AUTOPARK/AUTOPARK.suo
AUTOPARK/AUTOPARKDB/AUTOPARKDB.dbmdl
AUTOPARK/AUTOPARK/bin/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/bin/Debug/AUTOPARK.vshost.exe.manifest
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.csproj.FileListAbsolute.txt
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.Menu.resources
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/GenerateResource.read.1.tlog
AUTOPARK/AUTOPARK/obj/x86/Debug/GenerateResource.write.1.tlog
AUTOPARK/AUTOPARK/obj/x86/Debug/ResolveAssemblyReference.cache
AUTOPARK/AUTOPARKDB/AUTOPARKDB.dbmdl
AUTOPARK/AUTOPARKDB/bin/Debug/AUTOPARKDB.deploymanifest
AUTOPARK/AUTOPARKDB/bin/Debug/Путевые листы_Database.sqlsettings
AUTOPARK/AUTOPARKDB/bin/Debug/Путевые листы_Script.PostDeployment.sql
AUTOPARK/AUTOPARKDB/bin/Debug/Путевые листы_Script.PreDeployment.sql
AUTOPARK/AUTOPARKDB/obj/Debug/AUTOPARKDB.dbproj.FileListAbsolute.txt
AUTOPARK/AUTOPARK.suo
AUTOPARK/AUTOPARK/bin/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.Menu.resources
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/RdlCompile.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AUTOPARK/AUTOPARK.suo
AUTOPARK/AUTOPARK/bin/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.csproj.FileListAbsolute.txt
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.csproj.GenerateResource.Cache
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.csprojResolveAssemblyReference.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/AUTOPARK.pdb
AUTOPARK/AUTOPARK/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/GenerateResource.read.1.tlog
AUTOPARK/AUTOPARK/obj/x86/Debug/GenerateResource.write.1.tlog
AUTOPARK/AUTOPARK/obj/x86/Debug/RdlCompile.cache
AUTOPARK/AUTOPARK/obj/x86/Debug/ResolveAssemblyReference.cache
*.dbmdl
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbproj.FileListAbsolute.txt
AUTOPARKDB/AUTOPARKDB.dbmdl
AUTOPARKDB/bin/Debug/AUTOPARKDB.dbschema
AUTOPARKDB/bin/Debug/Путевые листы_Script.PostDeployment.sql
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbschema
AUTOPARKDB/AUTOPARKDB.dbmdl
AUTOPARKDB/bin/Debug/AUTOPARKDB.dbschema
AUTOPARKDB/bin/Debug/AUTOPARKDB.deploymanifest
AUTOPARKDB/bin/Debug/Путевые листы_Database.sqlcmdvars
AUTOPARKDB/bin/Debug/Путевые листы_Database.sqldeployment
AUTOPARKDB/bin/Debug/Путевые листы_Database.sqlsettings
AUTOPARKDB/bin/Debug/Путевые листы_Script.PostDeployment.sql
AUTOPARKDB/bin/Debug/Путевые листы_Script.PreDeployment.sql
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbproj.FileListAbsolute.txt
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbschema
AUTOPARKDB/bin/Debug/AUTOPARKDB.dbschema
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbproj.FileListAbsolute.txt
AUTOPARKDB/obj/Debug/AUTOPARKDB.dbschema
